[Desktop Entry]
Type=Application
Name=Candi
GenericName=PDF Reader
Comment=Clean, minimal, distraction-free PDF reading
Exec=candi %f
Icon=candi
Terminal=false
Categories=Office;Viewer;Literature;
MimeType=application/pdf;
Keywords=pdf;reader;viewer;books;
StartupWMClass=candi
